* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header.top-header {
    background: url('../images/mt-0617-home-bg-1.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    background-attachment: fixed;
    color: white;
}

header.top-header .navbar a {
    color: white;
}

.navbar .nav-item a {
    padding: 0;
}

.navbar .nav-item {
    padding: 10px 15px;
    margin-left: 5px;
}

header.top-header .navbar .active {
    border: 2px solid #aa71d0;
    
}

.navbar .down-arrow a {
    word-spacing: 0.5em;
}

header.top-header .banner {
    padding-top: 300px;
    padding-bottom: 200px;
}

header.top-header .banner h1 .normal {
    font-weight: normal;
    font-family: 'Playfair Display', serif;
}

header.top-header .banner h1 {
    font-size: 3.4em;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    padding: 30px 0;
}

header.top-header .banner h2 {
    font-size: 3.4em;
    font-family: 'Playfair Display', serif;
}

header.top-header .banner a {
    color: #aa71d0;
    text-decoration: underline;
    margin-top: 50px;
    display: block;
    font-size: 1em;
}

.main-content .navbar {
    padding: 25px 0;
    border-bottom: 2px solid #f3f5f6;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

.main-content .navbar a {
    color: black;
}

.main-content .navbar .active {
    border: 2px solid black;
}

.main-content .why-should-use {
    padding-top: 100px;
    padding-bottom: 150px;
}

.main-content .why-should-use .left-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin-top: 30px;
}

.main-content .why-should-use h2 .moto-cms {
    font-weight: bold;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}

.main-content .why-should-use .left-content h3 {
    color: #2a2a2a;
    font-size: 1.5em;
    margin-top: 30px;
}

.main-content .why-should-use .left-content p {
    color: #8b8b8b;
    margin-top: 30px;
    font-size: 1.05em;
}

.btn-purple {
    background: #aa71d0;
    color: white;
    padding: 15px 50px;
    font-size: 0.9em;
    margin-top: 15px;
    font-weight: bold;
}

.btn-purple:hover {
    background: white;
    color: #aa71d0;
    border: 2px solid #aa71d0;
    padding: 14px 50px;
}

.main-content .introduce {
    padding-top: 100px;
    padding-bottom: 50px;
    background: #f3f5f6;
}

.main-content .introduce h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}

.bold-italic {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
}

.main-content .introduce p {
    color: #8b8b8b;
    display: block;
    font-weight: 400;
    font-size: 1.55em;
    padding: 15px;
}

.main-content .item img {
    padding: 10px 0;
}

.main-content .item h3 {
    font-family: 'Playfair Display', serif;
    padding: 10px 0;
}

.main-content .item p {
    font-size: 0.9em;
    padding: 10px 0;
}

.main-content .call-back {
    padding: 100px 0;
}

.main-content .call-back h2 {
    font-size: 3.5em;
    font-family: 'Playfair Display', serif;
    line-height: 2em;
}

.main-content .top-comment {
    background: url('../images/mt-0617-home-bg-3.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 100px;
    background-attachment: fixed;
    color: white;
}

.main-content .top-comment p {
    font-size: 1.73em;
    font-family: 'Playfair Display', serif;
}

.main-content .top-comment .author {
    font-size: 0.7em;
    color: #8b8b8b;
}

.main-content .top-comment .change-btn a {
    color: #8b8b8b;
    padding: 0 10px;
    text-decoration: none;
    font-size: 0.8em;
}

.main-content .about-us {
    padding: 100px 0;
}

.main-content .about-us h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    padding: 15px 0;
}

.main-content .about-us p {
    color: #8b8b8b;
    font-size: 1.1em;
}

.main-content .employee .icon {
    display: inline-block;
    letter-spacing: 0.7em;
}

.main-content .employee .icon a {
    text-decoration: none;
}

.main-content .employee .icon .icon-facebook {
    color: #3a5a9f;
}

.main-content .employee .icon .icon-twitter {
    color: #45b0e3;
}

.main-content .employee .icon .icon-linkedin {
    color: #1783cb;
}

.main-content .employee h3 {
    padding: 10px 0;
    padding-top: 15px;
    font-family: 'Playfair Display', serif;
}

.main-content .employee .job {
    font-size: 0.87em;
    color: #8b8b8b;
}

.main-content .employee .introduce-employee {
    font-size: 1em;
    padding: 0;
}

.main-content .child-pages {
    background: url('../images/mt-0617-home-bg-4.jpg');
    background-size: cover;
    background-position: center;
    padding: 130px 0;
    background-attachment: fixed;
    color: white;
}

.main-content .child-pages h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
}

.main-content .child-pages P {
    padding-top: 15px;
    padding-bottom: 30px;
}

.main-content .child-pages .item p {
    font-size: 1em;
    padding: 15px 0;
    margin-bottom: 0;
}

.main-content .partners {
    padding: 130px 0;
}

.main-content .contact-form {
    padding: 130px 0;
    background: url('../images/mt-0617-home-bg-5.jpg');
    background-size: cover;
    background-position: center;
    padding: 130px 0;
    background-attachment: fixed;
    color: white;
}

.main-content .contact-form h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
}

.main-content .contact-form p {
    font-size: 1.25em;
    padding: 15px 0;
}

.main-content .contact-form .input-form {
    padding: 120px;
    background: #272532;
}

.main-content .contact-form .input-form input {
    background: transparent;
    border: none;
    display: inline-block;
    width: 100%;
}

.main-content .contact-form .input-form input:focus {
    color: white;
    outline: none;
}

.main-content .contact-form .input-form input::placeholder {
    color: white;
}

.main-content .contact-form .input-form input::content {
    color: white;
}

.main-content .contact-form .input-form .input-name, .input-email, .input-message {
    padding: 16px 22px;
    border-bottom: 1px solid black;
    margin-top: 15px;
}

.main-content .contact-form .input-form textarea {
    overflow: auto;
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    resize: none;
}

.main-content .contact-form .input-form textarea::placeholder {
    color: white;
}

.main-content .contact-form .input-form textarea:focus {
    outline: none;
    color: white;
}

.main-content .buy-area h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
}

.main-content .buy-area p {
    font-size: 1.21em;
    color: #8b8b8b;
}

.main-content .buy-area {
    padding: 130px 0;
}

footer {
    background: #1b1a23;
    padding: 15px 0;
    color: #8b8b8b;
    font-size: 0.9em;
}

footer a {
    color: #aa71d0;
}